<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "DTD/xhtml1-strict.dtd>
     <html> 
<head>
    <title><%= I18n.t '.Login' %></title>
</head>
<body>
    <img src = /images/CT_SSH />
    <p style="color: green"><%= flash[:notice] %></p>
  <form action='login/authenticate' method="post">
  <fieldset>
  <div class="form-element">
      <label for="name"><%= I18n.t '.Username' %> </label>
     <%= text_field 'login', 'name' , {:class=>"text-input"} %>
  </div>
  <div class="form-element">
      <label for="password"><%= I18n.t '.Password' %> </label>
     <%= password_field 'login', 'password' , {:class=>"text-input"} %>
 </div>
 <input type="submit" value="Login">
 </form>
</body>
</html>
