<h1>Listing sshes</h1>
<div  style="width:800px;">
<table border="1" width="800">
  <tr>
      <th><%= I18n.t 'Name' %></th>
      <th><%= I18n.t 'Phone number' %></th>
      <th><%= I18n.t 'Email' %></th>
    <th class="short">Ssh key</th>
  </tr>

<% @sshes.each do |ssh| %>
    <tr>
    <td><%=h ssh.name %></td>
    <td><%=h ssh.phone_number %></td>
    <td><%=h ssh.Email_id %></td>
    <td class="short"><%=h ssh.ssh_key %></td>
  </tr>
<% end %>
</table>
</div>
